@model Kitaplik.Entities.Kitap

<h2>Kitap Güncelle</h2>

<form asp-action="Guncelle" method="post">

    <div class="form-group">
        <label for="Ad">Kitap Adı:</label>
        <input type="text" class="form-control" id="Ad" name="Ad" value="@Model.Ad" />
    </div>

    <div class="form-group">
        <label for="Yazar">Yazar:</label>
        <input type="text" class="form-control" id="Yazar" name="Yazar" value="@Model.Yazar" />
    </div>

    <div class="form-group">
        <label for="SayfaSayisi">Sayfa Sayısı:</label>
        <input type="number" class="form-control" id="SayfaSayisi" name="SayfaSayisi" value="@Model.SayfaSayisi" />
    </div>

    <input type="hidden" name="Id" value="@Model.Id" />
    <button type="submit" class="btn btn-primary">Güncelle</button>
</form>
